$color-ink: #292a1d;
$color-indigo: #404067;
$color-periwinkle: #7b93ba;
$color-blush: #c4acb6;
$color-olive: #5e621f;

$font-sans: 'TT Norms', 'Outfit', sans-serif;
$font-script: 'Nickainley', 'Dancing Script', cursive;
